src/main/mule/hello-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9af70712-6aab-4162-838f-0ba66b6fbf1b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-ci-cdFlow" doc:id="01de0051-1d05-49c1-bccc-47a2d672d926" >
		<http:listener doc:name="Listener" doc:id="b06a7d8c-f354-469f-badc-f672c643e7db" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello Manish"]' doc:name="Set Payload" doc:id="e4c389c2-461e-4358-8a86-fe0807ea42d1" />
	</flow>
</mule>
